<div class="song" id='song-<%= id %>'>
    <div class="container-fluid">
        <div class="song-info">
            <img class="album-cover img-responsive" src="http://npr.org<%= song_art %>">
            <div class="song-info-wrapper">
                <h2 class="artist"><%= artist %></h2>
                <h1 class="song-title">&lsquo;<%= title %>&rsquo;</h1>

                <% if (castReceiver === null) { %>
                <ul class="song-tools list-unstyled">
                    <% if (ASIN) { %>
                    <li><a target="_blank" href="http://amazon.com/dp/<%= ASIN %>?tag=npr-5-20" class="amazon"><span class="icon-amazon"></span></a></li>
                    <% } %>
                    <% if (itunes) { %>
                    <li><a target="_blank" href="<%= itunes %>&at=11l79Y" class="itunes"><span class="icon-apple"></span></a></li>
                    <% } %>
                    <% if (rdio) { %>
                    <li><a target="_blank" href="<%= rdio %>" class="rdio"><span class="icon-rdio"></span></a></li>
                    <% } %>
                    <% if (spotify) { %>
                    <li><a target="_blank" href="<%= spotify %>" class="spotify"><span class="icon-spotify-circled"></span></a></li>
                    <% } %>
                    <% if (DOWNLOADS_ALLOWED) { %>
                    <li><a target="_blank" href="http://podcastdownload.npr.org/anon.npr-mp3<%= media_url %>.mp3"><span class="icon-download-cloud"></span></a></li>
                    <% } %>
                    <li><a class="star icon-heart-empty"></span></a></li>
                </ul>
                <% } %>
            </div>
        </div>
    </div>
</div>
