<div class="song" id='song-<%= id %>'>
    <div class="container-fluid">
        <div class="song-info">
            <!-- <img class="album-cover img-responsive" src="http://npr.org<%= song_art %>"> -->
            <img class="album-cover img-responsive" src="http://npr.org/assets/img/2015/02/23/gabi-by-timothy-saccenti.jpg">
            <div class="song-info-wrapper">
                <h2 class="artist"><%= artist %></h2>
                <h1 class="song-title">&lsquo;<%= title %>&rsquo;</h1>

                <div class="review-wrapper">

                    <% if (castReceiver === null) { %>
                    <ul class="song-tools song-actions list-unstyled">
                        <li><a class="favorite"><span class="icon heart icon-heart-empty"></span> Favorite Song</a></li>
                        <% if (!ENFORCE_PLAYBACK_LIMITS) { %>
                        <li><a href="#" class="play-song-button"><span class="icon fa fa-play-circle fa-fw"></span> Play song</a></li>
                        <% } %>
                    </ul>
                    <% } %>

                    <p class="hometown">Hometown: <%= hometown %></p>
                    <p class="description"><%= description %> </p>

                    <% if (castReceiver === null) { %>
                    <% if (itunes||DOWNLOADS_ALLOWED||asin) { %>
                    <h3>Get The Song</h3>
                    <% } %>
                    <ul class="song-tools song-links buy list-unstyled">
                        <% if (DOWNLOADS_ALLOWED) { %>
                        <li><a target="_blank" href="http://podcastdownload.npr.org/anon.npr-mp3<%= download_url %>.mp3" class="download"><span class="icon icon-download-cloud"></span> Download</a></li>
                        <% } %>
                        <% if (asin) { %>
                        <li><a target="_blank" href="http://amazon.com/dp/<%= asin %>?tag=npr-5-20" class="amazon"><span class="icon icon-amazon"></span> Amazon</a></li>
                        <% } %>
                        <% if (itunes) { %>
                        <li><a target="_blank" href="<%= itunes %>&at=11l79Y" class="itunes"><span class="icon icon-appstore"></span> iTunes</a></li>
                        <% } %>
                    </ul>
                    <% if (rdio||spotify) { %>
                    <h3>Stream</h3>
                    <% } %>
                    <ul class="song-tools song-links stream list-unstyled">
                        <% if (rdio) { %>
                        <li><a target="_blank" href="<%= rdio %>" class="rdio"><span class="icon icon-rdio"></span> Rdio</a></li>
                        <% } %>
                        <% if (spotify) { %>
                        <li><a target="_blank" href="<%= spotify %>" class="spotify"><span class="icon icon-spotify-circled"></span> Spotify</a></li>
                        <% } %>
                    </ul>
                    <% } %>
                </div>


                <% if (castReceiver === null) { %>
                <ul class="song-tools song-tools-small list-unstyled">
                    <li><a class="favorite"><span class="heart icon icon-heart-empty"></span></a></li>
                    <% if (!ENFORCE_PLAYBACK_LIMITS) { %>
                    <li><a href="#" class="play-song-button"><span class="fa icon fa-play-circle fa-fw"></span></a></li>
                    <% } %>
                </ul>
                <% } %>
            </div>
        </div>
    </div>
</div>
