<div class="songs">
	<ul class="mobile-share visible-xs list-inline">
		<li class="full-list">
		    <a href="http://www.npr.org/2015/03/01/390053158/npr-musics-the-austin-100" target="_blank"><span class="icon-list"></span> Read the full list</a>
		</li>
		<li class="share">
		    <a class="" data-toggle="modal" data-backdrop="static" data-target="#share-modal"><span class="icon-share"></span> Share</a>
		</li>
	</ul>
</div>
<a href="#" class="show-history js-show-history offscreen"><i class="fa fa-arrow-up"></i> Show history</a>
