{% extends '_base.html' %}

{% block content %}
<div class="landing">
    <div class="landing-wrapper">
        <div class="landing-content">
            <a target="_blank" href="http://npr.org/music"><img class="logo img-responsive" src="http://media.npr.org/chrome/music/music-logo.svg"></a>
            <div class="landing-card">
                <h1 class="title">{{ COPY.content.brand }}</h1>
                <h2>{{ COPY.content.subtitle }}</h2>

                <div class="landing-firstload-deck">
                    <div class="tags-wrapper">
                        <a class="go" href="#">Play</a>
                    </div>
                </div>
                <div class="landing-return-deck">
                    <div class="tags-wrapper">
                        <a class="continue" href="#">Welcome Back!</a>
                    </div>
                </div>
                <div class="landing-cast-receiver-deck">
                    <div class="tags-wrapper">
                        <a class="loading" href="#">Loading...</a>
                    </div>
                </div>
                <div class="chromecast-deck">
                    <div class="is-desktop-chrome">
                        <p class="get-extension">{{ COPY.content.get_extension }}<p>
                        <p class="start-chromecast">{{ COPY.content.chromecast_note }}</p>
                        <a href="#" class="start"><span class="icon-cast"></span>{{ COPY.content.chromecast_button }}</a>
                    </div>
                    <div class="is-not-desktop-chrome">
                        <p class="is-touch">{{ COPY.content.is_touch }}</p>
                        <p class="is-not-chrome">{{ COPY.content.is_nonchrome_desktop }}</p>
                    </div>
                </div>
                <p class="language-advisory"><span class="fa fa-warning"></span> ADVISORY: Some of these songs contain explicit language.</p>
            </div>
        </div>
    </div>
    <div class="covervid-wrapper">
    </div>
<!--     <div class="poster-static">
    </div> -->
    <div class="poster">
        <p class="tip-one">Turn up your volume</p>
        <p class="tip-two">Turn down the lights</p>
        <p class="tip-three">Shuffling {{ total_songs }} songs</p>

        <a class="skip-intro btn btn-default">Skip Intro</a>
    </div>
</div>

<div class="fixed-header">
    <a target="_blank" href="http://npr.org/music"><img class="logo img-responsive" src="http://media.npr.org/chrome/music/music-logo.svg"></a>
    <h1 class="title">{{ COPY.content.brand }}</h1>

    <div class="fixed-header-controls">
        <div class="full-list">
            <a href="http://www.npr.org/2015/03/01/390053158/npr-musics-the-austin-100" target="_blank"><span class="icon-list"></span> Read the full list and download</a>
        </div>

        <div class="share">
            <a class="" data-toggle="modal" data-backdrop="static" data-target="#share-modal"><span class="icon-share"></span> <span>Share</span></a>
        </div>

        <div class="chromecast">
            <a href="#" class="start"><span class="icon-cast"></span> Start Casting</a>
            <a href="#" class="stop"><span class="icon-cast-connected"></span> Stop Casting</a>
        </div>

        <div class="fullscreen">
            <a href="#" class="start"><span class="icon-fullscreen"></span> Fullscreen</a>
            <a href="#" class="stop" style="display: none;"><span class="icon-fullscreen"></span> Exit fullscreen</a>
        </div>
    </div>
</div>

<div class="songs-wrapper">
    {% include '_songs.html' %}
    {% include '_player.html' %}
    {% include '_share_modal.html' %}
    <div class="poster start">
        <p class="loading"></p>
    </div>
</div>

<script>
    var SONG_DATA = {{ song_data|safe }};
</script>
{% endblock %}
